{% extends "layout.html" %}
{% block info %}
  {% if name %}
  <div class="pink">
    Experiment: {{ name }}
  </div>
  {% else %}
  <div class="pink">
    Preparing Experiment...
  </div>
  {% endif %}
{% endblock info %}

{% block results %}
<!-- We don't have any results yet -->
<div class="blue">
  After pushing 'Start' button, you have <b>5 seconds</b> to complete the drop test.
</div>
{% endblock results %}

{% block button %}
  {% if name %}
  <div class="green">
    <a href="{{ url_for('go') }}" class=go_button type="button">Check Ready</a>
  </div>
  {% else %}
  <div class="green">
    <a href="{{ url_for('start') }}" class=button type="button">Start!</a>
    <br><br><br><br><br><br><br>
    <a href="{{ url_for('home') }}" class=reset_button type="button">Reset</a>
  </div>
  {% endif %}
{% endblock button %}
