{% extends "layout.html" %}
{% block info %}
  {% if name %}
  <div class="pink">
    Experiment: {{ name }}
  </div>
  {% else %}
  <div class="pink">
    Preparing Experiment...
  </div>
  {% endif %}
{% endblock info %}

{% block results %}
<!-- We don't have any results yet -->
<div class="blue">
  Ready to start...
</div>
{% endblock results %}

{% block button %}
  {% if name %}
  <div class="green">
    <a href="{{ url_for('go') }}" class=go_button type="button">Check Ready</a>
  </div>
  {% else %}
  <div class="green">
    <a href="{{ url_for('start') }}" class=go_button type="button">Start!</a>
  </div>
  {% endif %}
{% endblock button %}
