{% extends "layout.html" %}

{% block info %}
  <div class="pink">
    <form action = "/setcookie/" method = "POST">
       <p><h3>Enter Experiment Name</h3></p>
       <p><input type = 'text' name = 'nm'/></p>
       <p><input type = 'submit' value = 'Submit'/></p>
    </form>
  </div>
{% endblock info %}

{% block results %}
<!-- We don't have any results yet -->
<div class="blue">
  Waiting for data...
</div>
{% endblock results %}

{% block button %}
  <!-- <div class="green">
    <a href="{{ url_for('go') }}" class=go_button type="button">Click Me!</a>
  </div> -->
{% endblock button %}
