<!DOCTYPE html>
<html>
  <head>
     <title>Flask app</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Eli's Pi App</h1>
      </div>
    </header>
    <div class="container">
      {% block info %}
      {% endblock %}
    </div>
<br>
    <div class="container">
      {% block results %}
      {% endblock %}
    </div>
<br>
    <div class="container">
      {% block button %}
      {% endblock %}
    </div>
  </body>
</html>
