{% extends "layout.html" %}
{% block info %}
  {% if name %}
  <div class="pink">
    Experiment Ready: {{ name }}
  </div>
  {% else %}
  <div class="pink">
    <a href="/go/">Preparing Experiment...</a>
  </div>
  {% endif %}
{% endblock info %}

{% block results %}
<!-- We don't have any results yet -->
<div class="blue">
  Experiment Started...
</div>
{% endblock results %}

{% block button %}
  {% if name %}
  <div class="green">
    <a href="{{ url_for('results') }}" class=go_button type="button">See Results</a>
  </div>
  {% else %}
  <div class="green">
    <a href="{{ url_for('home') }}" class=go_button type="button">reset</a>
  </div>
  {% endif %}
{% endblock button %}
