{% extends "layout.html" %}
{% block info %}
  {% if name %}
  <div class="pink">
    Experiment: {{ name }}
  </div>
  {% else %}
  <div class="pink">
    Preparing Experiment...
  </div>
  {% endif %}
{% endblock info %}

{% block results %}
  {% if name %}
    <div class="blue">
      Experiment Started... Please wait 5 seconds.
    </div>
  {% else %}
    <div class="blue">
      Not Started...
    </div>
  {% endif %}
{% endblock results %}

{% block button %}
  {% if name %}
  <div class="green">
    <a href="{{ url_for('results') }}" class=go_button type="button">See Results</a>
  </div>
  {% else %}
  <div class="green">
    <a href="{{ url_for('home') }}" class=go_button type="button">reset</a>
  </div>
  {% endif %}
{% endblock button %}
